{% extends "base.html" %}

{% block content %}
 <!-- <h1>Welcome!</h1>  -->
{% if facebook_login != None %}
<div class="jumbotron" style="width:100%;float:left;padding:10px;margin-left:5px;margin-right:5px;margin-top:40px;text-align: center;">
  <h2>Thank you for connecting to Optimum {{ user.username }} </h2>
      
  <h2>You may disconnect by clicking the button below </h3>
  <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
    {% csrf_token %}
    <button type="submit"><img src="/static/img/disconnect.png" style="width:50px;margin:5px;"></button>
  </form>

</div>
{% else %}
  <h2>You are not connected to our facebook app</h2>

{% endif  %}

<div class="push"></div>

<footer id="footer" class="row" style="border-radius: 4px;min-height: 250px; padding:10px;">

    <p class="center"><img src="/static/img/optimum_logo.png" class="tile-image text-center"></p>
    <div class="text-center">This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No 636160-2.</div>
    <div class="text-center">Copyright © 2017. All rights reserved.</div>
</footer>

{% endblock %}