{% extends "base.html" %}

{% block content %}

<script>

  $( document ).ready(function() {
      console.log( "ready!" );
        $('#next').on('click', function (e) {          
          if ($('#checkbox1').is(":checked") && $('#checkbox2').is(":checked")){
            console.log("all boxes checked");
             $( "#facebook_connect_form" ).submit();
          }
          else{
            alert("You have to provide your consent to participate in the study!");
          }          
        });
  });

</script>

 <!-- <h1>Welcome!</h1>  -->
<div style="width: 80%; margin-left:auto; margin-right:auto;">
  <h1> Informed Consent </h1>

  <div id="new"> 
    Term 1: We will collect all your data.
  </div>
  <div> 
    Term 2: We will not do anything with your data.
  </div>

  <div>
    <label class="custom-control custom-checkbox">
      <input type="checkbox" id="checkbox1" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">I hereby consent to give you my data</span>
    </label>
  </div>
  <div>
    <label class="custom-control custom-checkbox">
      <input type="checkbox" id="checkbox2" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">I hereby consent to process my data</span>
    </label>
  </div>

  <div type="button" id="next" class="btn btn btn-primary">Next</div>
  <form action="/facebook_connect/" id="facebook_connect_form" method="post">{% csrf_token %} </form>

</div>

<footer id="footer" class="footer" style="background-color:#000;border-radius: 4px;min-height: 250px;">

    <p class="center"><img src="/static/img/optimum_logo.png" class="tile-image text-center"></p>
    <div class="text-center">This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No 636160-2.</div>
    <div class="text-center">Copyright © 2017. All rights reserved.</div>
</footer>

{% endblock %}