{% extends "base.html" %}

{% block content %}
{% load static %}
{% load ratings %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<div id="map" style="width: 50%; height: 500px;float:left;">

</div>
<div id="right-panel" style="height:500px;float: right;width:50%;overflow: auto;">
    <a href="/path"> <img src="static/img/help.ico" style="width:20px;height:20px;float:right;"> </a>
    <!-- <div style="float:left;left:100%;width:30%;">
        <h6><b> Duration of your route:</b></h6>
        <input type="text" id="duration" class="form-control" style="width:50%;">
    </div>
    <div style="float:left;">
        <h6><b> C02 emissions of route:</b></h6>
        <input type="text" id="emissions" class="form-control" style="width:70%;">
    </div>
     <div style="left:10%">
        <h6><b> Cost:</b></h6>
        <input type="text" id="cost" class="form-control" style="width:20%;">
    </div>  -->
    <div id="current_route">
        <p><b>CURRENT ROUTE:</b></p>
        <div style="float:left">
            <img style="width:20px;" src="https://maps.gstatic.com/mapfiles/transit/iw2/6/drive.png">
        </div>
        <div style="float:left; left:10%; position:relative;">
            <p><span class="duration"></span> mins</p>
        </div>
        <div >
         <p style="float:left; left:15%; position:relative;"><b>C02 emissions:</b></p>
         <h4 style="margin-left:45%;">
                <div class="progress" style="width:80%;margin-top:-3px;">
                  <div id="em_track0" class="progress-bar progress-bar-danger" style="width: 95%"></div>
                </div>
            </h4>
        </div>
        <!-- <div>
             <div style="float:left; width:20%;left:10%">
            <p><b>CO2 emissions</b></p>
            <p style="margin-top:15px;margin-left:25px;">
                <div class="progress" style="width:30%;margin:0px;float:left;">
                  <div id="dr_em0" class="progress-bar progress-bar-success" style="width: 95%"></div>
                </div>
                <div class="progress" style="width:30%;margin-top:1px;">
                  <div id="em_dr_track0" class="progress-bar progress-bar-danger" style="width: 100%"></div>
                </div>
            </p>
             </div>
        </div>  -->

    </div>
    <br>
    <div id="home">
        <p><b>TRANSIT:</b></p>
         <div id="transit_rate" style="float:right;right:10px;position:relative;">
               <p><b>Rating</b></p>
               <h4 style="margin-top:25px;margin-left:-10px;">
                       <input name="star1" type="radio" class="star"/>
                       <input name="star1" type="radio" class="star"/>
                       <input name="star1" type="radio" class="star"/>
                       <input name="star1" type="radio" class="star"/>
                       <input name="star1" type="radio" class="star"/>
               </h4>
               <br>
               <h4 style="margin-top:25px;margin-left:-10px;">
                   <div>
                       <input name="star2" type="radio" class="star"/>
                       <input name="star2" type="radio" class="star"/>
                       <input name="star2" type="radio" class="star"/>
                       <input name="star2" type="radio" class="star"/>
                       <input name="star2" type="radio" class="star"/>
                   </div>
               </h4>
               <br>
                <h4 style="margin-top:25px;margin-left:-10px;">
                   <div>
                       <input name="star3" type="radio" class="star"/>
                       <input name="star3" type="radio" class="star"/>
                       <input name="star3" type="radio" class="star"/>
                       <input name="star3" type="radio" class="star"/>
                       <input name="star3" type="radio" class="star"/>
                   </div>
               </h4>
               <br>
                <h4 style="margin-top:25px;margin-left:-10px;">
                   <div>
                       <input name="star4" type="radio" class="star"/>
                       <input name="star4" type="radio" class="star"/>
                       <input name="star4" type="radio" class="star"/>
                       <input name="star4" type="radio" class="star"/>
                       <input name="star4" type="radio" class="star"/>
                   </div>
               </h4>
                </div>
          <div id="transit_emissions" style="float:right; width:20%">
            <p><b>CO2 emissions</b></p>
            <h4 style="margin-top:15px;margin-left:0px;">
                <div class="progress" style="width:50%;margin-top:25px;">
                  <div id="em0" class="progress-bar progress-bar-success" style="width: 50%"></div>
                </div>
                <!--<div class="progress" style="width:50%;margin-top:1px;">
                  <div id="em_track0" class="progress-bar progress-bar-danger" style="width: 100%"></div>
                </div> -->
            </h4>
            <h4 style="margin-top:15px;margin-left:0px;">
                <div class="progress" style="width:50%;margin-top:25px;">
                  <div id="em1" class="progress-bar progress-bar-success" style="width: 50%"></div>
                </div>
                <!--<div class="progress" style="width:50%;margin-top:1px;">
                  <div id="em_track1" class="progress-bar progress-bar-danger" style="width: 100%"></div>
                </div> -->
            </h4>
            <h4 style="margin-top:15px; margin-bottom:14px;margin-left:0px;">
                <div class="progress" style="width:50%;margin-top:15px;">
                  <div id="em2" class="progress-bar progress-bar-success" style="width: 50%"></div>
                </div>
                <!--<div class="progress" style="width:50%;margin-top:1px;">
                  <div id="em_track2" class="progress-bar progress-bar-danger" style="width: 100%"></div>
                </div> -->
            </h4>
            <h4 style="margin-top:15px; margin-bottom:14px;margin-left:0px;">
                <div class="progress" style="width:50%;margin-top:15px;">
                  <div id="em3" class="progress-bar progress-bar-success" style="width: 50%"></div>
                </div>
            </h4>
              </div>
            <div id="transit" style="float:left; width:60%"></div>
        </div>
        <br>
        <div><b>DRIVING:</b></div>
        <div id="profile" class="profile">
          <div id="drive" style="float:left; width:60%"></div>
          <div style="float:left; width:20%;left:10%;margin-left:6%;">
            <p><b>CO2 emissions</b></p>
            <p style="margin-top:5px;margin-left:25px;">
                <div class="progress" style="width:60%;margin-top:0px;margin-bottom:3px;float:left;">
                  <div id="dr_em0" class="progress-bar progress-bar-success" style="width: 95%"></div>
                </div>
            </p>
            <p style="margin-top:-18px;margin-left:25px;">
                <div class="progress" style="width:60%;margin:0px;float:left;">
                  <div id="dr_em1" class="progress-bar progress-bar-success" style="width: 95%"></div>
                </div>
            </p>
              </div>
               <div id="rate_driving" style="float:left;">
               <p><b>Rating</b></p>
               <h4 style="margin-left:-10px;">
                       <input name="star5" type="radio" class="star"/>
                       <input name="star5" type="radio" class="star"/>
                       <input name="star5" type="radio" class="star"/>
                       <input name="star5" type="radio" class="star"/>
                       <input name="star5" type="radio" class="star"/>
               </h4>
               <br>
               <h4 style="margin-left:-10px;">
                   <div>
                       <input name="star6" type="radio" class="star"/>
                       <input name="star6" type="radio" class="star"/>
                       <input name="star6" type="radio" class="star"/>
                       <input name="star6" type="radio" class="star"/>
                       <input name="star6" type="radio" class="star"/>
                   </div>
               </h4>
                   </div>
               <br>



      </div>
    </div>


 <!--<script src="https://maps.googleapis.com/maps/api/js?language=en"></script>    -->
 <script src="static/js/loadgpx.js" type="text/javascript"></script>
    <script>
        function loadGPXFileIntoGoogleMap(map, filename, callback, m, distance) {
                $.ajax({url: filename,
                    dataType: "xml",
                    success: function(data) {
                      var parser = new GPXParser(data, map);
                      parser.setTrackColour("#ff0000");     // Set the track line colour
                      parser.setTrackColour("#ff0000");     // Set the track line colour
                      parser.setTrackWidth(5);          // Set the track line width
                      parser.setMinTrackPointDelta(0.001);      // Set the minimum distance between track points
                      parser.centerAndZoom(data);
                      parser.addTrackpointsToMap();         // Add the trackpoints
                      parser.addWaypointsToMap();           // Add the waypoints
                      var points = parser.getorigin(data);
                      var mode = parser.get_mode(data);
                      if (mode == "οδήγηση"){
                            mode = 'DRIVING'
                            }
                      if (mode == "συγκοινωνιες"){
                            mode = 'TRANSIT'
                            }
                      var track_distance = parser.CalculateDistance(data);
                      callback(points, mode, track_distance)



                    }
                });
            }
            $(document).ready(function() {
                var mapOptions = {
                  zoom: 8,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                 var mDirectionsRendererOptions = {
                        polylineOptions: {strokeColor:'green'}
                };

                var directionsDisplay = new google.maps.DirectionsRenderer;
                var directionsDisplay1 = new google.maps.DirectionsRenderer(mDirectionsRendererOptions);
                var directionsService = new google.maps.DirectionsService;
                var map = new google.maps.Map(document.getElementById("map"),mapOptions);
                loadGPXFileIntoGoogleMap(map, "/path?file={{file}}", get_points);



                function get_points(points, mode, distance) {

                    directionsDisplay.setMap(map);
                    directionsDisplay1.setMap(map);
                    directionsDisplay.setPanel(document.getElementById('transit'));
                    directionsDisplay1.setPanel(document.getElementById('drive'));
                    calculateAndDisplayRoute(directionsService, directionsDisplay, points, mode, distance);
                }

                function calculateAndDisplayRoute(directionsService, directionsDisplay, points, mode, distance) {

                      var start = new google.maps.LatLng(points[0],points[1]);
                      var end = new google.maps.LatLng(points[2], points[3]);

                      $('#duration').val(points[4]);
                      $(".duration").text(points[4]);

                      //calculate C02 emissions for track if mode is driving
                      if( mode== 'DRIVING'){
                        track_emissions = (distance/1000)*169;
                        track_emissions = track_emissions.toFixed(2);
                         $('#emissions').val(track_emissions);

                         //calculate cost
                         var cost=1.4*7.5*(distance/1000)/100;
                         cost = cost.toFixed(2);
                         $('#cost').val(cost);

                      }

                      if (mode == 'DRIVING'){
                        var travel = google.maps.TravelMode.TRANSIT
                      }
                      else{
                        var travel = google.maps.TravelMode.DRIVING
                      }

                      directionsService.route({
                        origin: start,
                        destination: end,
                        //travelMode: google.maps.TravelMode.TRANSIT,
                        travelMode: travel,
                        transitOptions: {
                           //departureTime: new Date("May 20, 2018 11:00"),
                        },
                        provideRouteAlternatives: true,

                      }, function(response, status) {
                        if (status === google.maps.DirectionsStatus.OK) {

                          //get distance and travel_mode and calculate CO2 for suggested routes
                            calculate_emissions(response, "TRANSIT", track_emissions);
                            directionsDisplay.setDirections(response);

                        } else {
                              window.alert('Directions request failed due to ' + status);
                            }
                         }
                        );

                      directionsService.route({
                        origin: start,
                        destination: end,
                        travelMode: google.maps.TravelMode.DRIVING,
                        provideRouteAlternatives: true,
                      }, function(response1, status) {
                        if (status === google.maps.DirectionsStatus.OK) {
                          //get distance and travel_mode and calculate CO2 for suggested routes
                          var em = calculate_emissions(response1, "DRIVING", track_emissions);
                          directionsDisplay1.setDirections(response1);
                        } else {
                          window.alert('Directions request failed due to ' + status);
                        }
                      });

                }

                 function calculate_emissions(response, mode, track_emissions) {
                    for (var i in response.routes) {
                        emissions=0
                        for (var j in  response.routes[i].legs[0].steps){
                            var distance = response.routes[i].legs[0].steps[j].distance.value
                            var travel_mode = response.routes[i].legs[0].steps[j].travel_mode
                            if (travel_mode =="TRANSIT"){
                                travel_mode =  response.routes[i].legs[0].steps[j].transit.line.vehicle.type;
                            }
                            emissions = emissions + calculate(distance, travel_mode)
                        }
                        em=[]
                        em[i]= emissions
                        if (mode == "TRANSIT"){
                            for (var i=0; i<em.length; i++ ){
                                $('#em'+i).text(em[i]);
                                $('#em_track'+i).text(track_emissions);
                            }
                        }
                        if (mode == "DRIVING"){
                            for (var i=0; i<em.length; i++ ){
                                $('#dr_em'+i).text(em[i]);
                                $('#em_dr_track'+i).text(track_emissions);
                                //$("td.adp-listsel").append("em[i]");
                            }

                        }


                    }

                function calculate(distance, travel_mode){
                    var emissions = 0;
                    if (travel_mode == "WALKING"){
                        var emissions = 0;
                    }
                    if (travel_mode == "BIKE"){
                        var emissions = 0;
                    }
                    if (travel_mode == "SUBWAY"){
                        var emissions = (distance/1000)*20;
                    }
                    if (travel_mode == "HEAVY_RAIL"){
                        var emissions = (distance/1000)*50;
                    }
                    if (travel_mode == "BUS"){
                        var emissions = (distance/1000)*25.5;
                    }
                    if (travel_mode == "DRIVING"){
                        var emissions = (distance/1000)*110;
                    }
                    return emissions

                }




                }


              });
     /* $(window).load(function() {
     //Hide details direction after page is fully loaded in background.
     $('.adp').hide();
    });  */



    //Display instructions
    var trip1 = new Trip([
          { position: 'screen-center', content : "<h>Welcome to optimum app!</h><br>At the end of this tutorial you could be able to understand how this app works.", showNavigation : true,showCloseBox : true, delay:-1, animation: 'fadeIn' },
          { sel : $("#current_route"), content : "Below you can see the  <span style='color: #1abc9c'>mode</span>, the  <span style='color: #1abc9c'>duration</span> and the  <span style='color: #1abc9c'>C02 emissions</span> of your previous trip.", position : "n", showNavigation : true,showCloseBox : true, delay:-1 },
          { sel : $("#map"), content : "Your previous route is depicted with red color on the map.", position : "n", showNavigation : true,showCloseBox : true, delay:-1 },
          { sel : $("#home"), content : "Below you can see the alternatives routes of your previous trip using means of transport.", position : "n", delay:-1 , showNavigation : true, animation: 'fadeIn'},
          { sel : $("#home"), content : "The first proposed route is depicted with blue color on the map.", position : "w", delay:-1 , showNavigation : true, animation: 'fadeIn'},
          { sel : $("#home"), content : "If you want to see other proposed route, click on it.", position : "n", delay:-1 , showNavigation : true, animation: 'fadeIn'},
          { sel : $("#transit_emissions"), content : "Below you can see the C02 emissions of each proposed route.", position : "n", delay:-1 , showNavigation : true, animation: 'fadeIn'},
          { sel : $("#transit_rate"), content : "Please rate all the proposed trips by clicking on the stars.", position : "n", delay:-1 , showNavigation : true, animation: 'fadeIn'},
          { sel : $("#profile"), content : "Below you can see the alternatives route of your previous trip using car.", position : "n", delay:-1 , showNavigation : true, animation: 'fadeIn'},
          { sel : $("#map"), content : "The proposed route using car is depicted with green color on the map.", position : "s", showNavigation : true,showCloseBox : true, delay:-1 },
          { sel : $("#rate_driving"), content : "Please rate the proposed trips using car.", position : "s", showNavigation : true,showCloseBox : true, delay:-1 },

        ],{
          delay: 1000,
          onTripPause : function (tripIndex, tripObject){
            setInterval(tripObject,3000);
            console.log('pause : ', tripIndex);

          },

          onTripChange : function (i, tripData) {
          console.log("current tripIndex1 : " + i);
            }
        });

     $(document).ready(function() {
                trip1.start();
            });

    </script>




{% endblock%}